.table{
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 20px;    
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
    border: none;
}

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}


::-webkit-scrollbar {
    display: none;
}


